@model Models.MatchViewModel
@{
    var isNew = Model.Id == 0 ? true : false;
    var saveButtonText = isNew ? "Add" : "Save";
    var headerText = isNew ? "Add Match" : "Edit Match";
}
<h2>@headerText</h2>

@using (Html.BeginForm(isNew ? "AddMatchToDB" : "UpdateMatch", "Matches", FormMethod.Post))
{
    if (!isNew)
    {
        @Html.HiddenFor(model => model.Id)
    }
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @*@Html.HiddenFor(model => model.Name)*@
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Home Team</th>
                <th scope="col">Home Team Goals</th>
                <th scope="col">Away Team Goals</th>
                <th scope="col">Away Team</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DropDownListFor(m => m.HomeTeamId,
                        new SelectList(@Model.Teams, "Id", "Name"),
                        new { @class = "form-control" })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.HomeTeamId, "", new { @class = "text-danger", style = "width:50px" })
                    @Html.EditorFor(model => model.HomeTeamGoalsScored, new { htmlAttributes = new { @class = "form-control", style = "width:50px" } })
                </td>
                <td>
                    @Html.EditorFor(model => model.AwayTeamGoalsScored, new { htmlAttributes = new { @class = "form-control", style = "width:50px" } })
                </td>
                <td>
                    @Html.DropDownListFor(m => m.AwayTeamId,
               new SelectList(@Model.Teams, "Id", "Name"),
               new { @class = "form-control" })
                </td>
            </tr>
        </tbody>
    </table>
    

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="@saveButtonText" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
